@font-face {
  font-family: 'YaHei';
  src: url('../font/YaHei.woff2') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'YaHei-Bold';
  src: url('../font/YaHei-Bold.woff2') format('truetype');
  font-weight: bold;
}

h1 {
  font-family: 'YaHei-Bold', sans-serif;
}

.start-33 {
  left: 33.33% !important;  /* In LTR reading modes (like English) */
  right: 33.33% !important; /* In RTL reading modes (like Arabic) */
}

.start-27 {
  left: 27.33% !important;  /* In LTR reading modes (like English) */
  right: 33.33% !important; /* In RTL reading modes (like Arabic) */
}

.position-absolute {
  left: calc(100% / 3);
}

.custom-bg {
  background-image: url('../images/bl.png');
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed; /* 让背景图固定在视口中 */
  background-repeat: no-repeat; /* 确保背景图只出现一次 */
}

.carousel-item {
  white-space: nowrap;
}

.btn-blue-custom {
  background-color: #0055A8; /* Replace with your desired color */
  color: #FFFFFF; /* Replace with your desired text color */
}


.btn-blue-lg{
  max-width: 269px;
  width: 100%;   /* 按钮大小 */
  max-height: 56px;
  height: 100%;
  text-align: center; /* 文本水平居中 */
  line-height: 56px; 
  font-size: 24px;  /* 文字大小 */
  opacity: 1; /* 设置不透明度为100% */
  padding: 0; /* 设置填充为0，确保没有额外的内边距 */
  border-radius: 0; /* 设置为0以确保按钮为方角 */
}

.btn-white-custom {
  background-color: #FFFFFF;
  color: #0055A8;
  border-color: #0055A8;
}

.btn-white-lg {
  max-width: 274px; /* 设置最大宽度，防止过度放大 */
  width: 100%; /* 使用百分比设置宽度 */
  max-height: 60px;
  height: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  opacity: 1;
  padding: 0;
  border-radius: 0; /* 设置为0以确保按钮为方角 */
}

/* 研发团队按钮大小 */
.btn-white-team{
  background-color: #FFFFFF;
  color: #0055A8; 
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  opacity: 1; /* 设置不透明度为100% */
  padding: 0; /* 设置填充为0，确保没有额外的内边距 */
  border-radius: 0; /* 设置为0以确保按钮为方角 */
}

.btn-white-team-pos{
  position: absolute; 
  bottom: 150px; 
  left: 55px;   
  background-color: #FFFFFF;  
  border-color: #1F68B0;
}

.tab-custom {
  --bs-nav-link-color: black;
  font-size: larger;
  margin-bottom: 10px;
}

.nav-item .active{
  text-decoration-line: underline;
  text-decoration-color: #0254A6;
  text-underline-offset: 8px;
  color: #131414;
  font-weight: bold;
}

.no-underline-link {
  text-decoration: none;
  color: black;
}

.menu-bar {
  padding-right: 60px;
}

.phone-number {
  color: #00A1E9;
}

.switch-page {
  color: #0055A8;
  text-decoration: none;
}

.container-fluid {
  border-top: 2px solid black;
}

/*  下横线的样式  */
.footer-underline{
  border-top: 1px solid #656464; /* 下横线样式，可以根据需要调整颜色和样式 */
  padding-top: 10px; /* 可以根据需要调整上边距 */
  text-align: center; /* 让文字居中显示 */
}

.signature{
  font-size: x-small; /* 根据需要调整字体大小 */
}

.custom-br {
  line-height:0.3; /* 或者使用 line-height: 50%; */
}

.content{
  padding-left: 5%;
}

/* product img text and btn */
.row-gap{
  margin-right: calc(-3.0 * var(--bs-gutter-x));
}

.card-gap{
  margin-top: 1rem !important;
  margin-left: 1rem !important;
}

.card-img{
  height: 260px; 
  width: 390px; 
  margin: auto; 
  padding-top: 15px; /* 改变距离 */
  object-fit: cover;
}

.card-btn-pos{
  border-radius: 20px;
  position: relative;
  right: -25px;
  top: -20px;
}

.h5-pos{
  margin-left: 10px;
  margin-bottom: 30px;
}

.text-pos{
  margin-left: 10px;
  position: relative; 
  top: -20px;
}