/* news */
.news-li {
    display: flex;
    align-items: stretch; 
    min-height: 130px;
  }
  
.news-ul {
    margin-top: 50px;
    list-style-type: none;
    padding-left: 0; 
}
  
.news-content {
    display: flex; 
    flex-direction: column; 
}
  
.news-content a {
    font-family: 'YaHei', sans-serif;
    font-size: 29px;
    color: #0456A7; 
    text-decoration: none; 
}
  
.news-content p {
    font-family: 'YaHei', sans-serif;
    color: #757575;
    font-size: 15px;
}
  
.news-icon {
    width: 4px; 
    height: 100px;
    padding-top: 10px; 
    margin-right: 20px; 
}
  
.news-card-title {
    font-family: 'YaHei', sans-serif;
    margin-left: 22px;
    margin-right: 24px;
    margin-top: 34px;
    margin-bottom: 36px;
    font-size: 22px;
}
  
.news-card-block {
    background-color: #F6FBFF;
}
  
.news-categories-col {
    margin-top: 46px;
    margin-left: 0;
    margin-bottom: 30px;
}
  
.news-category-tab {
    font-family: 'YaHei', sans-serif;
    text-decoration: none; 
    color: #757575;
    font-size: 30px;
    margin-right: 73px;
}
  
.news-category-tab-active {
    font-family: 'YaHei-Bold', sans-serif;
    color: #000A36;
    text-decoration: none; 
    font-size: 35px;
    margin-right: 73px;
}
  
.news-font-h1{
    white-space: nowrap; 
    letter-spacing: 5px; 
    font-weight: bold; 
    position: relative; 
    left: 22.3% !important;
}

.news-container {
    padding-left: 14% !important;
    margin-left: 0%;
}
 
.news-background {
    background-image: url('../images/bl.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.news-card {
    border: none;
}