.product-panel {
    height: 340px;
    width: 100%;
    color: black;
    --bs-border-color: #0055A8;
    background-color: white;
    display: flex;
    flex-direction: column;  /* 保持垂直堆叠 */
    align-items: center;  /* 水平居中内容 */
    justify-content: center;  /* 垂直居中内容 */
}

.product-col {
    width: 50%;
    padding-right: 5%;
}

.product-panel img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 10px;  /* 添加间距以分隔图像和文字 */
}

.product-name {
    text-align: center;  /* 文字水平居中 */
    width: 100%;  /* 文字区域宽度为100% */
    position: relative;
    top: -25px;   /* 调整文字与边框距离 */
    font-weight: bold; /* 文字加粗 */
    white-space: normal;
}

.product-card {
    --bs-card-border-color: #0055A8;
    --bs-card-border-radius: 0;
    width: 110%;
    height: 95%;
}

/* 产品中心 */
.product-background{
    height: 450px;
    background-image: url('../images/bl.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
  
  /* 产品页面分类 */
.product-fenlei{
    background-image: url('../images/bl-2.png');
    background-color: #F6FBFF;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 27%;
    min-height: 100vw; 
    position: relative;
    right: -12px;
}

.product-leftbar-content {
    margin-top: 100px;
}

.product-dropdown {
    width: 103%;
    padding-left: 47%;
}

.product-btn {
    --bs-btn-border-color: #0456A7;
    --bs-btn-border-radius: 0;
    --bs-btn-color: #2A2A2A;
    --bs-btn-bg: #FFFFFF;
    box-shadow: 0 0 10px #93c5f0; /* X偏移量, Y偏移量, 模糊半径, 颜色 */
    transition: box-shadow 0.3s ease-in-out; /* 平滑过渡效果 */
}

.card-img{
    height: 260px; 
    width: 50%; 
    margin: auto; 
    padding-top: 15px; /* 改变距离 */
    object-fit: cover;
}


.row-gap{
    margin-right: 10%;
    margin-top: 4%;
}
  
.card-gap{
    margin-top: 1rem !important;
    margin-left: 1rem !important;
}
  
.card-btn-pos{
    border-radius: 20px;
    position: relative;
    right: 10%;
    top: -20px;
}

.card-btn-img {
    height: 30px;
}

.image-container {
    transition: filter 0.3s; /* 添加过渡效果，使变化更加平滑 */
}

.more-button {
    display: none;
}

.image-container:hover {
    filter: brightness(1.2); /* 调整1.2以达到你想要的加深效果 */
}

.image-container:hover .more-button {
    display: inline-block;
}


.dropdown-toggle::after{
    display: inline-block;
    margin-left: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid  transparent;
}