<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = null,content = ~{::content})}"
>
  <th:block th:fragment="content">
    <div class="position-relative">
      <img th:src="@{/assets/images/cpxq.png}" class="img-fluid" alt="">
      <div class="position-absolute bottom-0 start-27 translate-middle">
        <h1 class="text-dark">
          <div class="d-inline-block" style="white-space: nowrap; letter-spacing: 5px; font-weight: bold; margin-left: 53px;">
            产品中心 | Product Center
          </div>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-3">
        <br><br><br><br>
        <div class="btn-group dropend">
          <a class="btn btn-outline-dark btn-lg dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" 
          th:text="${category.spec.displayName}"
          href="#">
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li th:with="category = ${categoryFinder.getByName('category-CxxMU')}">
              <a class="dropdown-item" th:href="@{${category.status.permalink}}">技工产品</a>
            </li>
            <li th:with="category = ${categoryFinder.getByName('category-wNxdv')}">
              <a class="dropdown-item" th:href="@{${category.status.permalink}}">临床产品</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-7" th:with="page = ${param.pageID != null && param.pageID.length > 0 ? param.pageID[0] : 1}">
        <div class="row" th:with="posts = ${postFinder.listByCategory(page, 8, category.metadata.name)}" >
          <div class="col-md-6" th:each="post : ${posts.items}">
            <div class="card product-card m-3">
              <img class="card-img-top" style="height: 300px; width: 300px; margin: auto;" alt="" th:src="${post.spec.cover}"  />
              <div class="card-block">
                <div><h5 th:text="${post.spec.title}"><h5></div>
                <div class="row">
                  <div class="col" th:text="${post.status.excerpt}">
                  </div>
                  <div class="col-md-auto">
                    <a class="btn btn-blue-custom" style="font-size: 12px" th:href="@{${post.status.permalink}}">查看详情 ></a>
                  </div>
                  <div class="col col-lg-3">
                    <p class="btn btn-white-custom" style="font-size: 12px" th:text="${category.spec.description}"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="position-relative">
            <div class="d-flex justify-content-end mt-3">
              <span th:if="${#numbers.sequence(page,page)[0] > 1}">
                <span th:with="previous = ${category.status.permalink + '?pageID=' + (#numbers.sequence(page,page)[0]-1)}">
                  <a class="switch-page" th:href="@{${previous}}"><h2><</h2></a>
                </span>
              </span>
              <span th:unless="${#numbers.sequence(page,page)[0] > 1}">
                <span class="iconfont icon-roundleftfill-copy" style="font-size: 2rem;"></span>
              </span>
              <span><h2>·······</h2></span>
              <span th:if="${#numbers.sequence(page,page)[0] < (posts.total / 8 + 1)}">
                <span th:with="next = ${category.status.permalink + '?pageID=' + (#numbers.sequence(page,page)[0]+1)}">
                  <a class="switch-page" th:href="@{${next}}"><span class="iconfont icon-roundrightfill" style="font-size: 2rem;"></span></a>
                </span>
              </span>
              <span th:unless="${#numbers.sequence(page,page)[0] < (posts.total / 8 + 1)}">
                <span class="iconfont icon-roundrightfill" style="font-size: 2rem;"></span>
              </span>
            </div>
          </div>         
        </div>
      </div>
    </div>
  </th:block>
</html>
