<footer class="container border-top bg-light"></footer>
    <div class="row">
      <div class="col-md-4">
        <!-- Logo和导航链接 -->
        <img th:src="@{/assets/images/logo.png}" alt="公司Logo" width="318" height="100">
        <ul class="list-unstyled mt-3">
          <li><a href="#">首页</a></li>
          <li><a href="#">产品</a></li>
          <li><a href="#">资讯</a></li>
          <li><a href="#">关于</a></li>
          <li><a href="#">帮助</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <!-- 公司信息链接 -->
        <h5>关于公司</h5>
        <ul class="list-unstyled mt-2">
          <li><a href="#">企业简介</a></li>
          <li><a href="#">企业文化</a></li>
          <li><a href="#">联系我们</a></li>
          <li><a href="#">加入我们</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <!-- 联系方式 -->
        <h5>联系方式</h5>
        <ul class="list-unstyled mt-2">
          <li><a href="mailto:renyisong@netease.com">renyisong@netease.com</a></li>
          <li>电话: 021-25458785</li>
          <li>服务时间: 9:00-17:30</li>
          <li><img th:src="@{/assets/images/dingchen.png}" alt="二维码" width="100"></li>
        </ul>
      </div>
    </div>
 </footer>
  