<footer class="bg-light" style="padding-left: 12%">
    <div class="row">
      <div class="col-12">
      <!-- Logo和导航链接 -->
      <img th:src="@{/assets/images/logo.png}" alt="公司Logo" width="318" height="100">
      </div>
    </div>
    <br>
    <div class="row feet-ul-color">
      <div class="col-1" style="width: 28px;">
      </div>
      <div class="col-2">
        <!-- 公司信息链接 -->
          <h5>关于启登特</h5>
          <ul class="list-unstyled mt-2">
            <br class="custom-br">
            <li><a class="no-underline-link feet-ul-color" href="#">企业简介</a></li><br>
            <li><a class="no-underline-link feet-ul-color" href="#">企业文化</a></li><br>
            <li><a class="no-underline-link feet-ul-color" href="#">研发实力</a></li><br>
          </ul>
      </div>
      <div class="col-3">
        <!-- 联系方式 -->
          <h5>联系我们</h5>
          <ul class="list-unstyled mt-2 feet-ul-color">
            <br class="custom-br">
            <li>武汉市新洲阳经济开发区平江大道</li><br>
            <li>mailto: renyisong@netease.com</li>
          </ul>
      </div>
      <div class="col-3">
        <!-- 联系方式 -->
          <h5>服务热线:</h5>
          <ul class="list-unstyled mt-2 feet-ul-color">
            <br class="custom-br">
            <li><h4 class="phone-number">027-89833379</h4></li>
            <li>周一至周五 9:00 - 17:30, 节假日休息</li>
          </ul>
      </div>
      <div class="col-3">
        <h5>鼎宸公众号</h5>
        <ul class="list-unstyled mt-2">
          <br class="custom-br">
          <li><img th:src="@{/assets/images/dingchen.png}" alt="二维码" width="70px" class="feet-img"></li>
        </ul>
      </div>
    </div>
    <br><br>
    <div class="footer-underline">
        <p class="signature">Copyright@2019 All Right Reserved武汉鼎宸科技有限责任公司版权所有</p>
    </div>
 </footer>