  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" th:with="posts = ${postFinder.listByTag(1,100,'tag-dfoHF')}">
    <div class="carousel-indicators mb-5" 
         th:style="'left:65%;width:' + ${posts.total * 21 + 70} + 'px'" >
      <button class="carousel-control-prev index-button translate-middle-y"
              type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
              style="top: 50%;">
        <span class="carousel-control-prev-icon icon-size prev-icon-color" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      
      <span th:each="post, stat : ${posts}">
        <button type="button" style="width: 15px; height: 15px; border-radius: 50%;" data-bs-target="#carouselExampleIndicators" 
          th:data-bs-slide-to="${stat.index}" 
          th:class="${stat.first} ? active : ''"
          th:aria-current="${stat.first} ? true : false" 
          th:aria-label="Slide +${stat.index}">
        </button>
      </span>

      <button class="carousel-control-next index-button translate-middle-y" 
        type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
        style="top: 50%;">
        <span class="carousel-control-next-icon icon-size next-icon-color" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
    </div>
    <div class="carousel-inner">
      <span th:each="post, stat : ${posts}">
        <div th:class="${stat.first} ? 'carousel-item active' : 'carousel-item'">
          <img th:src="${post.spec.cover}" class="d-block w-100" alt="..."> 
          <div class="carousel-caption top-50 start-30 translate-middle d-none d-md-block">
            <div class="d-flex flex-column align-items-start">
              <a href="#" class="btn btn-blue-custom btn-blue-lg" >MORE</a>
            </div>
          </div>
        </div>
      </span>
    </div>
  </div>

  <div class="position-relative">
    <img th:src="@{/assets/images/公司.png}" class="img-fluid" alt="描述性文字">
    <div class="position-absolute top-50 start-33 translate-middle">
      <!-- <h1 class="text-dark">关于我们</h1>
      <h3 class="text-dark mt-2">这是副标题</h3>
      <p class="text-dark mt-2">这里是正文内容，你可以在这里添加更多的内容。</p> -->
      </br></br></br></br></br></br></br></br></br>
      <div class="d-flex mt-2">
        <a th:href="@{/about}" class="btn btn-white-custom btn-white-about" style="margin-left: -9%; margin-top: 10%;">MORE</a>
      </div>
    </div>
  </div>
