<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head =  ~{::head}, content = ~{::content})}"
>

  <th:block th:fragment="content">
    <th:block th:replace="~{head}" />
    <th:block th:replace="~{product}" />
    <div class="text-center mb-4"> <!-- 添加这个div，mb-4为下边距 -->
        <h1>启登特动态</h1>
    </div>

    <div class="row">
        <!-- 左侧大图 改：自动获取最近发布的一条新闻-->
        <div class="col-lg-6 mb-4" th:with="posts = ${postFinder.listByCategory(1,1,'category-hrPFe')}">
            <div class="position-relative" th:each="post : ${posts.items}">
                <!-- 新闻图片 -->
                <img th:src="${post.spec.cover}" alt="新闻图片描述" class="img-fluid" style="width: 100%; height: auto;">
                <!-- 完全透明的标题和日期遮罩层 -->
                <div class="position-absolute bottom-0 start-0 w-100 text-white p-3">
                    <h5 th:text="${post.spec.title}"></h5>
                    <p class="text-muted" th:text="${post.spec.publishTime}"></p>
                </div>
            </div>
        </div>

        <!-- 右侧新闻列表 改：需要自动获取新闻，填入标题和内容页-->
        <div class="col-lg-6" th:with="posts = ${postFinder.listByCategory(1,3,'category-hrPFe')}">
            <div class="row mb-4" th:each="post : ${posts.items}">
                <div class="col-md-4">
                    <img th:src="${post.spec.cover}" alt="小图描述1" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h5 th:text="${post.spec.title}"></h5>
                    <p th:text="${post.status.excerpt}"></p>
                    <p class="text-muted" th:text="${post.spec.publishTime}"></p>
                </div>
            </div>
        </div>
    </div>
  </th:block>
</html>
