<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="html (head,content)"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2"
    />
    <title th:text="${site.title}"></title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css?v={version}(version=${theme.spec.version})}"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/style-news.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/style-product.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/iconfont.css}" />
    <script th:src="@{/assets/js/bootstrap.bundle.js?v={version}(version=${theme.spec.version})}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    
  </head>
  <body style="background-color: #FFFFFF">
    <th:block th:replace="~{menu}"/>
    <div>

      <section>
        <th:block th:replace="${content}" />
      </section>
      

      
      <th:block th:replace="~{feet}" />
      
    </div>
  </body>
</html>
