<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="html (head,content)"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2"
    />
    <title th:text="${site.title}"></title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css?v={version}(version=${theme.spec.version})}"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
    <script th:src="@{/assets/js/bootstrap.bundle.js?v={version}(version=${theme.spec.version})}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    
  </head>
  <body th:style="'background-color: '+${theme.config.style.background_color ?: '#f2f2f2'}">
    <th:block th:replace="~{menu}"/>
    <div class="container">

      <section>
        <th:block th:replace="${content}" />
      </section>
      

      <footer>
        <th:block th:replace="~{feet}" />
      </footer>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elements = document.querySelectorAll('.text-muted');
        elements.forEach(function(element) {
          var date = new Date(element.textContent);
          element.textContent = date.toISOString().split('T')[0];
        });
      });
    </script>
  </body>
</html>
