
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img th:src="@{/assets/images/logo.png}" alt="Logo" height="102" width="320">
    </a>
    <div th:with="menu = ${menuFinder.getPrimary()}" class="collapse navbar-collapse">
      <ul th:if="${menu != null} and ${not #lists.isEmpty(menu.menuItems)}" class="navbar-nav me-auto mb-2 mb-lg-0 menu-bar">
        <li th:each="menuItem : ${menu.menuItems}"
          th:class="${#lists.isEmpty(menuItem.children)} ? 'nav-item' : 'nav-item dropdown'">
          <a th:class="${#lists.isEmpty(menuItem.children)} ? 'nav-link' : 'nav-link dropdown-toggle'"
            th:href="@{${menuItem.status.href}}" th:text="${menuItem.status.displayName}"
            th:target="${menuItem.spec.target?.value}">
          </a>
          <ul th:if="${not #lists.isEmpty(menuItem.children)}" th:class="dropdown-menu">
            <li th:each="childMenuItem : ${menuItem.children}">
              <a th:class="dropdown-item" th:href="@{${childMenuItem.status.href}}"
                th:text="${childMenuItem.status.displayName}" th:target="${childMenuItem.spec.target?.value}"></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>