<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = null,content = ~{::content})}"
>
  <th:block th:fragment="content">
    <div class="position-relative">
      <img th:src="@{/assets/images/cpxq.png}" class="img-fluid" alt="">
      <div class="bottom-0 translate-middle-y" style="padding-left: 13.5%;position: absolute;">
        <h1 class="text-dark">
          <div 
          class="d-inline-block"
          th:text="${singlePage.spec.excerpt.raw}">
          </div>
        </h1>
      </div>
    </div>
    <article style="margin-bottom: -16px;" th:utext="${singlePage.content.content}"></article>
  </th:block>
</html>
