<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = null,content = ~{::content})}"
>
  <th:block th:fragment="content">
    <div class="position-relative">
      <img th:src="@{/assets/images/cpxq.png}" class="img-fluid" alt="">
      <div class="position-absolute bottom-0 container translate-middle" style="padding-left: 40px;">
        <h1 class="text-dark">
          <div 
          class="d-inline-block" 
          style="white-space: nowrap; letter-spacing: 5px; font-weight: bold; position: relative; left: 22.6% !important;"
          th:text="${singlePage.spec.excerpt.raw}">
          </div>
        </h1>
      </div>
    </div>
    <article th:utext="${singlePage.content.content}"></article>
  </th:block>
</html>
