<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: html(head = null,content = ~{::content})}">
<th:block th:fragment="content">
    <h1 th:text="${post.spec.title}"></h1>
    <article th:utext="${post.content.content}"></article>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="page-header">
                    <h1>
                        光固化正畸粘接剂 <small></small>
                    </h1>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 text-center">
                <img alt="" src="../assets/images/gghzjzjj.png" />
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 custom-bg">
                <h2>
                    产品介绍
                </h2>
                <p>
                    光固化正畸粘接剂是一种能够光固化的粘接材料，由糊剂（粘接剂）和液剂（预处理剂）组成，适用于各种正畸托槽的粘接。使用前需要使用牙科酸蚀剂对牙釉质进行酸蚀处理。
                </p>
                <h2>
                    产品性能
                </h2>
                <p>
                    光固化，适用于金属托槽和陶瓷托槽
                </p>
                <h2>
                    适用范围
                </h2>
                <p>
                    用于口内修复或正畸治疗时，利用酸蚀剂的腐蚀性对牙体表面进行处理，以去除污染层、粗糙表面、提高其表面性能。
                </p>
                <h2>
                    使用方法
                </h2>
                <p>
                    用于口内修复或正畸治疗时，利用酸蚀剂的腐蚀性对牙体表面进行处理，以去除污染层、粗糙表面、提高其表面性能。
                </p>
                <h2>
                    产品存储
                </h2>
                <p>
                    用于口内修复或正畸治疗时，利用酸蚀剂的腐蚀性对牙体表面进行处理，以去除污染层、粗糙表面、提高其表面性能。
                </p>
                <h2>
                    产品包装
                </h2>
                <p>
                    用于口内修复或正畸治疗时，利用酸蚀剂的腐蚀性对牙体表面进行处理，以去除污染层、粗糙表面、提高其表面性能。
                </p>
                <h2>
                    注意事项
                </h2>
                <p>
                    1、本粘接剂具有刺激性，操作本品时应带手套，请勿接触眼睛、皮肤，如眼部接触，应立即用大量清水冲洗，如皮肤接触，用肥皂水清洗接触区域，如刺激持续应就医。 2、本产品不适用于粘接塑料（聚碳酸酯）托槽。
                    3、请不要将未固化的液剂或糊剂长时间暴露于环境光下，取出少部分材料后应立即盖好盖子，取出的材料应尽量快速使用完毕，未使用完的应丢弃。
                </p>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</th:block>
</html>